
{% extends "songbook/base.html" %}
{% block content %}
<body>
    <header>
        <h1>Bienvenue sur FrancoUke</h1>
        <p>Un outil éducatif et récréatif conçu pour les membres de clubs d'Ukulélé francophones.</p>
    </header>
    <main>
        <section>
            <h2>À propos du site</h2>
            <p>FrancoUke est une plateforme dédiée aux amateurs d'Ukulélé, qu'ils soient débutants ou musiciens confirmés. Notre mission est de faciliter l'apprentissage, la pratique et le partage autour de cet instrument convivial.</p>
        </section>
        <section>
            <h2>Ce que vous pouvez faire sur FrancoUke :</h2>
            <ul>
                <li>
                    <strong>Gérer des chansonniers</strong> : Une solution pratique pour les leaders de clubs d'Ukulélé afin d'organiser et centraliser les chansons.
                </li>
                <li>
                    <strong>Transposer facilement des chansons</strong> : Ajustez les tonalités pour qu'elles conviennent parfaitement à votre voix ou à votre style de jeu.
                </li>
                <li>
                    <strong>Adapter des partitions</strong> : Proposez des morceaux accessibles à des musiciens de tous âges et de tous niveaux de compétence.
                </li>
                <li>
                    <strong>Partager des partitions</strong> : Tout en respectant les droits d'auteur et en reconnaissant les contributions des auteurs-compositeurs.
                </li>
                <li>
                  <strong>Multitude d'instruments à corde</strong> : Accéder aux diagrams d'accords aux autres instruments à corde (mandoline, banjo, Ukulele Bariton, guitare) qui peuvent être adapté aux musiciens gauchés.
               </li>
              
            </ul>
        </section>

    </main>
</body>

   

{% endblock content %}
