
{% extends "songbook/base.html" %}
{% block content %}
<body>
    <header>
        <h1>Notice: Site Under Development</h1>
        <p>Welcome to my application! Please note that the site is still under active development, and there are a few known bugs that I’m currently working to resolve. </p>
        <p>The good news is that these issues are minor and are unlikely to affect your experience on the site. However, if you do encounter anything unusual, I’d love to hear from you! Your feedback is incredibly valuable and helps me improve. </p>
    </header>
    <main>
        <section>
            <h2>Known bugs :</h2>
            <ul>
                <li>
                    <strong>Vérifier les accords</strong> : Même l'I.A. peut se tromper (et moi aussi)
                </li>
                <li>
                    <strong>Génération des diagramme d'accords après la transposition</strong> : L'application ne fait pas la transposition des diagramme d'accord.
                </li>
                <li>
                    <strong></strong> : Accorder permission d'admin pour les enseignants, entraineurs, chef de clubs.
                </li>

                
              
            </ul>
        </section>
         <section>
            <h2>Améliorations à venir :</h2>
            <ul>


                <li>
                    <strong>Permission pour les leaders</strong> : Accorder permission d'admin pour les enseignants, entraineurs, chef de clubs.
                </li>
                <li>
                    <strong>Diagramme supplémentaire</strong> : L'ajout des differentes façons de jouer l'accord.
                </li>
                <li>
                    <strong>Ajouter des vérifications des partitions</strong> : Tonalité, année, première note, auteur-compositeur, comparaison avec le clip youtube.
                </li>
                <li>
                    <strong>Outil d'ajout</strong> : Améliorer l'outil d'ajout de partitions.
                </li>
                <li>
                    <strong>Taggit</strong> : Améliorer l'outil de tags de chansons.
                </li>
                
              
            </ul>
        </section>
        <section>
            <p>Thank you for your patience and support as I continue refining the site. If you’d like to report an issue, please email me at gaulindm@gmail.com</p>
        </section>

    </main>
</body>

   

{% endblock content %}
