{% extends "songbook/base.html" %}
{% block content %}
<head>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f8f9fa;
            color: #333;
            margin: 0;
            padding: 0;
        }
        header {
            background: #ffcc00;
            color: #333;
            text-align: center;
            padding: 20px;
            /*font-size: 1.3em;*/
            box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        }
        main {
            max-width: 800px;
            margin: 20px auto;
            background: white;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        }
        h1, h2 {
            text-align: center;
        }
        h1 {
            font-size: 1.8em;
            color: #cc3300;
        }
        h2 {
            color: #ff6600;
            border-bottom: 2px solid #ff6600;
            padding-bottom: 5px;
        }
        ul {
            list-style-type: none;
            padding: 0;
        }
        li {
            background: #ffeb99;
            margin: 10px 0;
            padding: 10px;
            border-radius: 5px;
            font-size: 1.1em;
        }
        .bugs {
            background-color: #ffdddd;
            padding: 10px;
            border-left: 5px solid #cc3300;
            margin-bottom: 20px;
        }
        .improvements {
            background-color: #ddffdd;
            padding: 10px;
            border-left: 5px solid #009933;
        }
        p {
            font-size: 1em;
            text-align: center;
        }
        .email {
            font-weight: bold;
            color: #0066cc;
        }
    </style>
</head>
<body>
    <header>
        {% if site_name == "FrancoUke" %}
        <h1>Avertissement.  Sous construction</h1>
        <p>Le site est encore en construction, mais je fais de mon mieux pour limiter les petits pépins.  En ce moment, je m'attarde surtout à l’optimisation de la génération des PDF. </p>
        <h2>Bonne nouvelle ! 🌟</h2>
        <p></p>Les problèmes restants sont mineurs et ne devraient pas trop gêner votre expérience.  Cependant, si vous remarquez quelque chose d’inhabituel, n’hésitez pas à me le signaler !  Vos retours sont précieux et m’aident à améliorer le site pour vous offrir la meilleure expérience possible.</p>
        <p>Merci pour votre patience et votre soutien ! 🎵😊</p>

        {% else %}
            <h1>Notice: Site Under Development</h1>
            <p>Welcome to my application! Please note that the site is still under active development, and there are a few known bugs that I’m currently working to resolve.</p>
            <p>The good news is that these issues are minor and are unlikely to affect your experience on the site. However, if you do encounter anything unusual, I’d love to hear from you! Your feedback is incredibly valuable and helps me improve.</p>
        {% endif %}
    </header>
    <main>
        <section class="bugs">
            {% if site_name == "FrancoUke" %}
            <h2>Dernières améliorations</h2>
            <li>
                🗓️ 30 mai 2025 : <p><strong>Amélioration du rendu des accords</strong> : 'le positionnement des accords respecte désormais les traits d’union et la structure syllabique des paroles. Idéal pour les partitions vocales et la lecture en direct !'</p>
              </li>

            <li>
                🗓️ 26 février 2025 : <p><strong>Parcourir par artiste</strong> : Les utilisateurs peuvent maintenant parcourir les chansons par artiste.</p>
            </li>
            <li>
                🗓️ 22 février 2025 : <p><strong>Hériter du Formatage de Gaulind</strong> : Lorsqu'un utilisateur visite une chanson pour la première fois, il voit automatiquement le formatage créé par Gaulind.</p>
                <p><strong>Éditions Personnalisées</strong> : Les utilisateurs peuvent maintenant modifier et enregistrer leur propre formatage sans impacter les autres.</p>
            </li>
            <li>
                🗓️ 21 février 2025 : <p>Amélioré <strong>le contrôle l'espacement</strong> entre les lignes, et avant/après les différentes section des chansons </p>
                <p.>Personnalisation des <strong>choix de police</strong> dans les differentes sections des chansons</p>
            </li>

            <li>
                🗓️ 21 février 2025 : Amélioré <strong>le contrôle l'espacement</strong> entre les lignes, et avant/après les différentes section des chansons </p>
            </li>

            <li>
                🗓️ 20 février 2025 : Amélioré la gestion des <strong>marges inférieures</strong> pour garantir un affichage correct des <strong>diagrammes d'accords</strong> dans le pied de page, que vous utilisiez <strong>un ou deux instruments.</strong> </p>
            </li>

            <li>
                🗓️ 18 février 2025 : <strong>Transposition des accords 🎶</strong> <p> Besoin d’adapter une chanson à votre voix ou à votre instrument ?
                Vous pouvez maintenant transposer les accords jusqu’à ±7 demi-tons, tout en conservant la tonalité d’origine de la partition. </p>
                <p>Essayez-le et jouez plus confortablement ! </p>
            </li>
            <li>
                🗓️ 17 février 2025 : <strong>Diagrammes d’accords pour deux instruments 🎸🎻</strong>
                <p>Vous animez un club de musique ? Vous jouez de plusieurs instruments ?
                Vous pouvez désormais générer un PDF contenant les diagrammes d’accords pour deux instruments différents !</p>
                <p>Rendez-vous dans votre profil pour configurer votre préférence et profitez d’une expérience sur mesure.</p>
            </li>

            <li>
                🗓️ 13 février 2025 : <strong>Mise en forme des chansons ✨</strong>
                <p>Personnalisez l’affichage de vos chansons et améliorez vos PDF !
                Vous pouvez ajuster la taille de la police, les couleurs, l’espacement, et bien plus encore, pour un rendu optimal et agréable à lire.</p>
            </li>



        </ul>
            {% else %}
                <h2>Latest improvements</h2>
           
                <li>
                    🗓️ February 26, 2025: <p><strong>Browse by Artist</strong>: Users can now browse songs by artist.</p>
                </li>
                <li>
                    🗓️ February 22, 2025: <p><strong>Inherit Gaulind's Formatting</strong>: When a user visits a song for the first time, they automatically see the formatting created by Gaulind.</p>
                    <p><strong>Custom Edits</strong>: Users can now modify and save their own formatting without affecting others.</p>
                </li>
                <li>
                    🗓️ February 21, 2025: <p>Improved <strong>spacing control</strong> between lines and before/after different song sections.</p>
                    <p>Customization of <strong>font choices</strong> in different sections of the song.</p>
                </li>
                <li>
                    🗓️ February 21, 2025: Improved <strong>spacing control</strong> between lines and before/after different song sections.</p>
                </li>
                <li>
                    🗓️ February 20, 2025: Improved handling of <strong>bottom margins</strong> to ensure proper display of <strong>chord diagrams</strong> in the footer, whether using <strong>one or two instruments.</strong></p>
                </li>
                <li>
                    🗓️ February 18, 2025: <strong>Chord Transposition 🎶</strong> 
                    <p>Need to adapt a song to your voice or instrument?  
                    You can now transpose chords up to ±7 semitones while keeping the original key of the sheet music.</p>
                    <p>Try it out and play more comfortably!</p>
                </li>
                <li>
                    🗓️ February 17, 2025: <strong>Chord Diagrams for Two Instruments 🎸🎻</strong>
                    <p>Leading a music club? Playing multiple instruments?  
                    You can now generate a PDF containing chord diagrams for two different instruments!</p>
                    <p>Go to your profile to set your preference and enjoy a tailored experience.</p>
                </li>
                <li>
                    🗓️ February 13, 2025: <strong>Song Formatting ✨</strong>
                    <p>Customize how your songs are displayed and improve your PDFs!  
                    You can adjust font size, colors, spacing, and more for an optimal and easy-to-read layout.</p>
                </li>
                
            {% endif %}
        </section>

        <section class="improvements">
            {% if site_name == "FrancoUke" %}
            <h2>Améliorations à venir :</h2>
            <ul>

                <li>
                    <strong>Dropbox</strong> : Exportation automatique au Dropbox pour facilement utiliser une tablette pour lire les partitions.
                </li>

                <li>
                    <strong>Permission pour les leaders</strong> : Accorder permission d'admin pour les enseignants, entraineurs, chef de clubs.
                </li>
                <li>
                    <strong>Diagramme supplémentaire</strong> : L'ajout des differentes façons de jouer l'accord.
                </li>
                <li>
                    <strong>Ajouter des vérifications des partitions</strong> : Tonalité, année, première note, auteur-compositeur, comparaison avec le clip youtube.
                </li>
                <li>
                    <strong>Outil d'ajout</strong> : Améliorer l'outil d'ajout de partitions.
                </li>
                <li>
                    <strong>Taggit</strong> : Améliorer l'outil de tags de chansons.
                </li>


            </ul>
        {% else %}
        
        
            <h2>Upcoming Improvements:</h2>
            <ul>                
                <li><strong>Dropbox</strong> : Automatic exportation to Dropbox for easy intergration for view PDF on tablets</li>
                <li><strong>Leader Permissions:</strong> Grant admin access for teachers, trainers, and club leaders.</li>
                <li><strong>Sharing formatted song:</strong> Let other users use your embellished score.</li>
                <li><strong>Additional Chord Diagrams:</strong> Adding different variations for each chord.</li>
                <li><strong>Sheet Music Verification:</strong> Checking key, year, first note, composer, and comparing with YouTube clips.</li>
                <li><strong>Improved Upload Tool:</strong> Enhancing the process of adding new sheet music.</li>
                <li><strong>Better Tagging System:</strong> Improving song categorization with Taggit.</li>
                <li><strong>Title page for multipage report</strong>Adding title page for multipage report with Table of content and event related information</li>
            </ul>
            {% endif %}
        </section>

        <section>
            {% if site_name == "FrancoUke" %}
                <p>Je continue d’améliorer le site pour vous offrir la meilleure expérience possible.  Si vous souhaitez signaler un problème, n’hésitez pas à m’écrire au  <span class="email">gaulindm@gmail.com</span>.</p>
                <P>Votre aide est précieuse, et j’apprécie énormément vos retours ! 😊✨</p>
        
            {% else %}
                <p>Thank you for your patience and support as I continue refining the site. If you’d like to report an issue, please email me at <span class="email">gaulindm@gmail.com</span>.</p>
                <P>Your help is invaluable, and I really appreciate your feedback! 😊✨</p>
                {% endif %}
        </section>
    </main>
</body>
{% endblock content %}
